/* Custom Css .Give meaningful names only*/
.cursor-pointer{
    cursor: pointer;
}
.sticky-top {
    top:0.5em !important
}
.zIndex-plusOne{
    z-index: 1 !important
}
.zIndex-minusOne{
    z-index: -1 !important
}

/* used for suggestion box of navbar */
.w-94{
    width:94% !important
}
/* Suggestions image size */
.w-30px{
    width:30px !important
}
/* From Suggestions */
.w-85{
    width:88.5% !important
}
.suggestion-item:hover{
    background-color:#efefef;
    cursor:pointer
}
